<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="createModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLongTitle">Create Exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exercise_name">Exercise Name</label>
                        <input type="text" class="form-control" id="create_name" name="name"
                            placeholder="Enter Exercise Name">
                    </div>
                    <div class="form-group">
                        <label for="target">Target</label>
                        <input type="text" class="form-control" id="create_target" name="target" placeholder="target">
                    </div>
                    <div class="form-group">
                        <label for="equipment">Equipment</label>
                        <input type="text" class="form-control" id="create_equipment" name="equipment"
                            placeholder="Equipment">
                    </div>
                    <div class="form-group">
                        <label for="body_part">Body Part</label>
                        <input type="text" class="form-control" id="create_bodyPart" name="bodyPart"
                            placeholder="Body Part">
                    </div>
                    <div class="form-group">
                        <button id="createExercise" type="button" class="btn btn-primary">Submit</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="updateModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLongTitle">Update Exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="update_id" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label for="update_name">Exercise Name</label>
                        <input type="text" class="form-control" id="update_name" name="name"
                            placeholder="Enter Exercise Name">
                    </div>
                    <div class="form-group">
                        <label for="target">Target</label>
                        <input type="text" class="form-control" id="update_target" name="target" placeholder="target">
                    </div>
                    <div class="form-group">
                        <label for="equipment">Equipment</label>
                        <input type="text" class="form-control" id="update_equipment" name="equipment"
                            placeholder="Equipment">
                    </div>
                    <div class="form-group">
                        <label for="body_part">Body Part</label>
                        <input type="text" class="form-control" id="update_bodyPart" name="bodyPart"
                            placeholder="Body Part">
                    </div>
                    <div class="form-group">
                        <button id="updateExercise" type="button" class="btn btn-primary">Submit</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>


<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="messageModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="modal_message"></h3>
            </div>
            <div class="modal-footer">
                <button onclick="location.reload()" type="button" class="btn btn-primary"
                    data-dismiss="modal">Refresh</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>