@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.rectangle {
  position: absolute;
  width: 56.32%;
  top: -155.59px;
  right: -21.75%;
  left: 65.44%;
  border-radius: var(--br-81xl);
  background-color: rgba(240, 135, 255, 0.3);
  filter: blur(500px);
  height: 642px;
}
.image {
  width: 50.79%;
  top: 0.41px;
  right: 0;
  left: 49.21%;
  height: 678px;
}
.frame1,
.image,
.image-icon {
  position: absolute;
  overflow: hidden;
}
.image-icon {
  width: 50.79%;
  top: 42.41px;
  right: -4.18%;
  left: 53.39%;
  max-width: 100%;
  height: 678px;
  object-fit: cover;
}
.frame1 {
  width: 111.4%;
  top: -200px;
  right: -8.77%;
  left: -2.63%;
  height: 4034.41px;
}
.build-now {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 42.13px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 84px;
}
.frame4 {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-mediumspringgreen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 126.25px;
  height: 42px;
  flex-shrink: 0;
  color: inherit;
}
.frame-icon {
  position: absolute;
  top: 11px;
  left: calc(50% + 60.86px);
  width: 16px;
  height: 20px;
  overflow: hidden;
}
.stack-exchange {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 78.14px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 129px;
}
.frame5 {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 196.28px;
  height: 42px;
  flex-shrink: 0;
  color: var(--color-white);
}
.frame3 {
  position: absolute;
  width: 83.78%;
  top: 288px;
  right: 16.1%;
  left: 0.12%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-family: var(--font-roboto);
}
.a-manual-for,
.developer-resources {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.developer-resources {
  width: 142.7%;
  top: -11.59px;
  left: 0.12%;
  font-size: 94px;
  letter-spacing: 0.48px;
  line-height: 96px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
}
.a-manual-for {
  width: 99%;
  top: 199.41px;
  left: 0;
  font-size: 21px;
  line-height: 24.34px;
  color: var(--color-silver);
}
.frame,
.frame2 {
  position: absolute;
  width: 35.09%;
  top: 0;
  right: 63.16%;
  left: 1.75%;
  height: 330px;
}
.frame {
  width: 64.92%;
  right: 17.54%;
  left: 17.54%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-helvetica);
}
.chapters {
  margin: 0;
  position: absolute;
  width: 72.09%;
  top: -2px;
  left: 13.95%;
  line-height: 18px;
  display: inline-block;
}
.frame7 {
  cursor: pointer;
  position: absolute;
  width: 14.8%;
  top: 9.41px;
  right: 73.15%;
  left: 12.05%;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  height: 15px;
}
.component-1-icon {
  position: absolute;
  height: 86.67%;
  width: 86.67%;
  top: 6.67%;
  right: 7.36%;
  bottom: 6.67%;
  left: 5.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame8,
.frame9 {
  position: absolute;
}
.frame9 {
  text-decoration: none;
  top: -2px;
  left: calc(50% - 14.79px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.frame8 {
  width: 5.16%;
  top: 190.41px;
  right: 82.79%;
  left: 12.05%;
  border-radius: var(--br-9xs);
  height: 25px;
}
.quickstart-your-solana {
  margin: 0;
  position: absolute;
  width: 98.25%;
  top: 2px;
  left: 0;
  line-height: 27px;
  display: inline-block;
}
.frame10 {
  position: absolute;
  width: 68.85%;
  top: 110.41px;
  right: 19.1%;
  left: 12.05%;
  height: 54px;
  font-size: var(--font-size-lg);
}
.solana-development-course {
  margin: 0;
  position: absolute;
  width: 87.95%;
  top: 41.41px;
  left: 12.05%;
  font-size: var(--font-size-20xl);
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.frame6 {
  position: absolute;
  width: 52.82%;
  top: calc(50% - 109.41px);
  right: 45.36%;
  left: 1.82%;
  height: 218px;
}
.get-started-banner-head,
.get-started-banner-head-text {
  position: absolute;
  width: 100%;
  top: 111px;
  right: 0;
  left: 0;
  height: 259px;
}
.get-started-banner-head {
  top: 0.41px;
  border-radius: var(--br-lg);
  height: 370px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-2xs);
}
.chapters1 {
  margin: 0;
  position: absolute;
  width: 72.41%;
  top: -1px;
  left: 13.79%;
  line-height: 18px;
  display: inline-block;
}
.frame13 {
  cursor: pointer;
  width: 37.18%;
  top: 8.41px;
  right: 62.82%;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  height: 18px;
}
.buildspace,
.frame12,
.frame13 {
  position: absolute;
  left: 0;
}
.buildspace {
  margin: 0;
  width: 38.89%;
  top: 37.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
}
.frame12 {
  width: 81.63%;
  top: 0;
  right: 18.37%;
  height: 63px;
}
.frame-icon1,
.frame14 {
  position: absolute;
  height: 30px;
}
.frame-icon1 {
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  overflow: hidden;
}
.frame14 {
  text-decoration: none;
  width: 10.61%;
  top: 33.41px;
  right: -4.69%;
  left: 94.08%;
  border-radius: var(--br-9xs);
}
.frame11,
.rectangle1 {
  position: absolute;
  width: 81.67%;
  top: 216.59px;
  right: 9.21%;
  left: 9.12%;
  height: 63px;
}
.rectangle1 {
  width: 100%;
  top: 96px;
  right: 0;
  left: 0;
  height: 224px;
}
.chapters2,
.get-started-cell-1 {
  position: absolute;
  font-size: var(--font-size-2xs);
}
.get-started-cell-1 {
  width: 31.91%;
  top: 394.41px;
  right: 68.09%;
  left: 0;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chapters2 {
  margin: 0;
  width: 72.41%;
  top: -1px;
  left: 13.79%;
  line-height: 18px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blueviolet);
  position: absolute;
  width: 37.18%;
  top: 8.41px;
  right: 62.67%;
  left: 0.15%;
  border-radius: var(--br-base);
  height: 18px;
}
.solana-bytes {
  margin: 0;
  position: absolute;
  width: 65.42%;
  top: 37.41px;
  left: 0.17%;
  line-height: 25.2px;
  display: inline-block;
}
.frame18 {
  text-decoration: none;
  position: absolute;
  width: 10.61%;
  top: 33.41px;
  right: -4.81%;
  left: 94.2%;
  border-radius: var(--br-9xs);
  height: 30px;
}
.frame15 {
  position: absolute;
  width: 81.67%;
  top: 216.59px;
  right: 9.31%;
  left: 9.02%;
  height: 63px;
}
.get-started-cell-2 {
  position: absolute;
  width: 31.91%;
  top: 394.41px;
  right: 34%;
  left: 34.09%;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chapter {
  margin: 0;
  position: absolute;
  width: 67.57%;
  top: -1px;
  left: 16.22%;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame21,
.scaffold-series {
  position: absolute;
  left: -0.13%;
}
.frame21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blueviolet);
  width: 31.62%;
  top: 8.41px;
  right: 68.51%;
  border-radius: var(--br-base);
  height: 18px;
}
.scaffold-series {
  margin: 0;
  width: 53.42%;
  top: 37.41px;
  line-height: 25.2px;
  display: inline-block;
}
.frame22 {
  text-decoration: none;
  position: absolute;
  width: 10.61%;
  top: 33.41px;
  right: -4.58%;
  left: 93.97%;
  border-radius: var(--br-9xs);
  height: 30px;
}
.frame19 {
  position: absolute;
  width: 81.67%;
  top: 216.59px;
  right: 9.13%;
  left: 9.21%;
  height: 63px;
}
.get-started-cell-3 {
  position: absolute;
  width: 31.91%;
  top: 394.41px;
  right: 0;
  left: 68.09%;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.freecodecamp-solana-course {
  margin: 0;
  position: absolute;
  width: 79.06%;
  top: 39.41px;
  left: 0;
  line-height: 25.2px;
  display: inline-block;
}
.frame25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blueviolet);
  position: absolute;
  width: 99.93%;
  top: 0;
  right: 0.07%;
  left: 0;
  border-radius: var(--br-base);
  height: 18px;
}
.chapters3,
.frame-parent {
  position: absolute;
  height: 21px;
}
.chapters3 {
  top: 0;
  left: 8.92px;
  line-height: 18px;
  display: inline-block;
  width: 73px;
}
.frame-parent {
  cursor: pointer;
  width: 35.49%;
  top: 8.41px;
  right: 64.51%;
  left: 0;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.frame24,
.frame26 {
  position: absolute;
  width: 81.63%;
  top: 0;
  right: 18.37%;
  left: 0;
  height: 88px;
}
.frame26 {
  text-decoration: none;
  width: 10.61%;
  top: 58.41px;
  right: -4.69%;
  left: 94.08%;
  border-radius: var(--br-9xs);
  height: 30px;
}
.frame23 {
  position: absolute;
  width: 81.67%;
  top: 191.59px;
  right: 9.21%;
  left: 9.12%;
  height: 88px;
}
.get-started-cell-4 {
  position: absolute;
  width: 31.91%;
  top: 738.41px;
  right: 68.09%;
  left: 0;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chapters4 {
  margin: 0;
  position: absolute;
  width: 74.19%;
  top: -1px;
  left: 12.9%;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blueviolet);
  position: absolute;
  width: 39.74%;
  top: 8.41px;
  right: 60.11%;
  left: 0.15%;
  border-radius: var(--br-base);
  height: 18px;
}
.solana-development-by {
  margin: 0;
  position: absolute;
  width: 82.48%;
  top: 39.41px;
  left: 0.15%;
  line-height: 25.2px;
  display: inline-block;
}
.frame30 {
  text-decoration: none;
  position: absolute;
  width: 10.61%;
  top: 58.41px;
  right: -4.81%;
  left: 94.2%;
  border-radius: var(--br-9xs);
  height: 30px;
}
.frame27 {
  position: absolute;
  width: 81.67%;
  top: 191.59px;
  right: 9.31%;
  left: 9.02%;
  height: 88px;
}
.get-started-cell-5 {
  position: absolute;
  width: 31.91%;
  top: 738.41px;
  right: 34%;
  left: 34.09%;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chapters5 {
  position: absolute;
  width: 71.08%;
  top: -1px;
  left: 14.46%;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame33,
.solana-bootcamp {
  position: absolute;
  left: -0.13%;
}
.frame33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blueviolet);
  width: 35.47%;
  top: 8.41px;
  right: 64.66%;
  border-radius: var(--br-base);
  height: 18px;
}
.solana-bootcamp {
  margin: 0;
  width: 61.97%;
  top: 37.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 81.63%;
  top: 0;
  right: 18.37%;
  left: 0;
  height: 63px;
}
.get-started-cell-6 {
  position: absolute;
  width: 31.91%;
  top: 738.41px;
  right: 0;
  left: 68.09%;
  border-radius: var(--br-lg);
  height: 320px;
  overflow: hidden;
  background-image: url(./public/frame9@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.get-started-grid {
  position: absolute;
  width: 96.49%;
  top: 101px;
  right: 1.75%;
  left: 1.75%;
  height: 1058px;
}
.get-started,
.use-these-solana {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.get-started {
  width: 28.02%;
  top: -3.59px;
  left: 0.04%;
  font-size: inherit;
  letter-spacing: 0.68px;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
}
.use-these-solana {
  width: 85.18%;
  top: 41.41px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
  color: var(--color-silver);
}
.get-started-text {
  position: absolute;
  width: 96.49%;
  top: 0;
  right: 1.75%;
  left: 1.75%;
  height: 69px;
  font-size: 38px;
}
.section-get-started {
  position: absolute;
  width: 64.92%;
  top: 522px;
  right: 17.54%;
  left: 17.54%;
  height: 1159px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.frame-icon7 {
  position: absolute;
  top: 0.41px;
  left: calc(50% - 52.37px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.learn-more {
  width: 28.95%;
  top: -0.59px;
  letter-spacing: 0.6px;
  line-height: 27.3px;
  text-transform: uppercase;
  display: inline-block;
}
.frame37,
.learn-more,
.tool-library {
  position: absolute;
  left: 0;
}
.frame37 {
  text-decoration: none;
  width: 100%;
  top: 189px;
  right: 0;
  height: 27px;
  color: inherit;
}
.tool-library {
  margin: 0;
  top: -0.59px;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
}
.core-documentation,
.the-official-solana {
  margin: 0;
  position: absolute;
  width: 92.1%;
  top: 33.41px;
  left: 0;
  line-height: 26px;
  display: inline-block;
}
.core-documentation {
  width: 63.84%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.frame38,
.frame39 {
  position: absolute;
  width: 100%;
  top: 29px;
  right: 0;
  left: 0;
  height: 108px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame38 {
  top: 0;
  height: 153px;
  font-size: var(--font-size-xs);
  color: var(--color-blueviolet);
}
.frame36 {
  position: absolute;
  width: 81.67%;
  top: 31.59px;
  right: 9.21%;
  left: 9.12%;
  height: 216px;
}
.frame-icon8,
.frame35 {
  position: absolute;
  top: 0.41px;
  overflow: hidden;
}
.frame35 {
  width: 31.91%;
  right: 68.09%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
}
.frame-icon8 {
  left: calc(50% - 52.03px);
  width: 24px;
  height: 24px;
}
.learn-more1,
.tool-library1 {
  position: absolute;
  top: -0.59px;
  left: 0.12%;
  text-transform: uppercase;
}
.learn-more1 {
  width: 28.95%;
  letter-spacing: 0.6px;
  line-height: 27.3px;
  display: inline-block;
}
.tool-library1 {
  letter-spacing: 1.5px;
  line-height: 19.2px;
}
.solana-cookbook,
.the-solana-cookbook {
  position: absolute;
  width: 92.45%;
  top: 33.41px;
  left: 0.12%;
  line-height: 26px;
  display: inline-block;
}
.solana-cookbook {
  width: 53.37%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.frame42,
.frame43 {
  position: absolute;
  width: 100%;
  top: 29px;
  right: 0;
  left: 0;
  height: 134px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame42 {
  top: 0;
  height: 179px;
  font-size: var(--font-size-xs);
  color: var(--color-blueviolet);
}
.frame40 {
  position: absolute;
  width: 81.67%;
  top: 31.59px;
  right: 9.31%;
  left: 9.02%;
  height: 216px;
}
.dig-deeper-cell-2,
.frame-icon9 {
  position: absolute;
  top: 0.41px;
  overflow: hidden;
}
.dig-deeper-cell-2 {
  width: 31.91%;
  right: 34%;
  left: 34.09%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
}
.frame-icon9 {
  left: calc(50% - 52.68px);
  width: 24px;
  height: 24px;
}
.learn-more2,
.tool-library2 {
  position: absolute;
  top: -0.59px;
  left: -0.11%;
  text-transform: uppercase;
}
.learn-more2 {
  width: 28.95%;
  letter-spacing: 0.6px;
  line-height: 27.3px;
  display: inline-block;
}
.tool-library2 {
  margin: 0;
  letter-spacing: 1.5px;
  line-height: 19.2px;
}
.solana-stack-exchange,
.solana-stack-exchange1 {
  margin: 0;
  position: absolute;
  width: 91.05%;
  top: 33.41px;
  left: -0.11%;
  line-height: 26px;
  display: inline-block;
}
.solana-stack-exchange1 {
  width: 71.51%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.frame44 {
  position: absolute;
  width: 81.67%;
  top: 31.59px;
  right: 9.13%;
  left: 9.21%;
  height: 216px;
}
.dig-deeper-cell-3 {
  position: absolute;
  width: 31.91%;
  top: 0.41px;
  right: 0;
  left: 68.09%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.tool-library3 {
  position: absolute;
  top: -0.59px;
  left: 0;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
}
.easily-build-deploy,
.solana-playground {
  position: absolute;
  width: 91.75%;
  top: 33.41px;
  left: 0;
  line-height: 26px;
  display: inline-block;
}
.solana-playground {
  width: 56.86%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.dig-deeper-cell-4 {
  position: absolute;
  width: 31.91%;
  top: 306.41px;
  right: 68.09%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.tool-library4 {
  margin: 0;
  position: absolute;
  top: -0.59px;
  left: 0.12%;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
}
.create-solana-dapp,
.get-up-and {
  position: absolute;
  width: 93.49%;
  top: 33.41px;
  left: 0.12%;
  line-height: 26px;
  display: inline-block;
}
.create-solana-dapp {
  margin: 0;
  width: 59.65%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.frame54 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 153px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-blueviolet);
  font-family: var(--font-helvetica);
}
.dig-deeper-cell-5-child {
  position: absolute;
  top: 176px;
  left: 0;
  width: 346.2px;
  height: 106px;
}
.dig-deeper-cell-5 {
  position: absolute;
  width: 31.91%;
  top: 306.41px;
  right: 34%;
  left: 34.09%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.anchor-docs,
.anchor-is-a {
  margin: 0;
  position: absolute;
  width: 95.24%;
  top: 33.41px;
  left: -0.11%;
  line-height: 26px;
  display: inline-block;
}
.anchor-docs {
  width: 40.12%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.dig-deeper-cell-6 {
  position: absolute;
  width: 31.91%;
  top: 306.41px;
  right: 0;
  left: 68.09%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.solana-program-library,
.the-solana-program {
  position: absolute;
  width: 95.93%;
  top: 33.41px;
  left: 0;
  line-height: 26px;
  display: inline-block;
}
.solana-program-library {
  width: 70.82%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.dig-deeper-cell-7 {
  position: absolute;
  width: 31.91%;
  top: 612.41px;
  right: 68.09%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.a-list-of,
.program-examples {
  position: absolute;
  width: 95.93%;
  top: 33.41px;
  left: 0.12%;
  line-height: 26px;
  display: inline-block;
}
.program-examples {
  width: 56.51%;
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
}
.dig-deeper-cell-8 {
  position: absolute;
  width: 31.91%;
  top: 612.41px;
  right: 34%;
  left: 34.09%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 282px;
  overflow: hidden;
}
.dig-deeper-grid {
  position: absolute;
  width: 96.49%;
  top: 101px;
  right: 1.75%;
  left: 1.75%;
  height: 894px;
}
.dig-deeper,
.learn-from-resources {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.dig-deeper {

  top: -3.59px;
  font-size: inherit;
  letter-spacing: 0.68px;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
}
.learn-from-resources {
  width: 49.73%;
  top: 41.41px;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
  color: var(--color-silver);
}
.dig-deeper-text {
  position: absolute;
  width: 96.49%;
  top: 0;
  right: 1.75%;
  left: 1.75%;
  height: 69px;
  font-size: 37px;
}
.section-dig-deeper {
  position: absolute;
  width: 64.92%;
  top: 1809px;
  right: 17.54%;
  left: 17.54%;
  height: 995px;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.rectangle7 {
  position: absolute;
  width: 68.34%;
  top: 0;
  right: 15.83%;
  left: 15.83%;
  border-radius: 13px;
  height: 811px;
}
.rectangle8 {
  position: absolute;
  width: 100%;
  top: 77px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-200);
  height: 1px;
}
.learn-how-solana {
  margin: 0;
  position: absolute;
  width: 75.28%;
  top: 107.41px;
  left: 0;
  line-height: 27.3px;
  display: inline-block;
}
.frame-icon15 {
  position: absolute;
  top: 11px;
  left: calc(50% + 29.03px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.view-all {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 52.97px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 72px;
}
.frame69 {
  text-decoration: none;
  position: absolute;
  width: 28.3%;
  top: 0;
  right: 0;
  left: 71.7%;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 46px;
  color: inherit;
}
.frame68,
.solana-docs {
  position: absolute;
  left: 0;
}
.solana-docs {
  margin: 0;
  top: calc(50% - 36.5px);
  font-size: var(--font-size-13xl);
  line-height: 33.6px;
  font-weight: 400;
  font-family: var(--font-helvetica);
  text-align: left;
}
.frame68 {
  width: 100%;
  top: 0.41px;
  right: 0;
  height: 77px;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.source-links-solana {
  position: absolute;
  width: 46.49%;
  top: 0;
  right: 51.75%;
  left: 1.75%;
  height: 160px;
}
.metaplex-docs {
  margin: 0;
  position: absolute;
  width: 41.7%;
  top: calc(50% - 36.5px);
  left: 0;
  font-size: var(--font-size-13xl);
  line-height: 33.6px;
  font-weight: 400;
  font-family: var(--font-helvetica);
  text-align: left;
  display: inline-block;
}
.frame70 {
  position: absolute;
  width: 100%;
  top: 0.41px;
  right: 0;
  left: 0;
  height: 77px;
}
.learn-what-you {
  margin: 0;
  position: absolute;
  width: 96.23%;
  top: 107.41px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
  font-family: var(--font-helvetica);
  text-align: left;
  display: inline-block;
}
.source-links-meta {
  position: absolute;
  width: 46.49%;
  top: 0;
  right: 1.75%;
  left: 51.75%;
  height: 160px;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.source-links-upper {
  position: absolute;
  width: 103.64%;
  top: 0;
  right: -1.82%;
  left: -1.82%;
  height: 176px;
}
.latest-episode {
  position: absolute;
  top: 1px;
  left: calc(50% - 79.13px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 123px;
}
.frame-icon17 {
  position: absolute;
  top: 0;
  left: calc(50% + 53.87px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.source-links-change-log-link {
  text-decoration: none;
  position: absolute;
  width: 37.92%;
  top: 206.41px;
  right: 62.08%;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 24px;
  text-align: center;
  color: inherit;
  font-family: var(--font-roboto);
}
.solana-changelog,
.some-more-solana {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.solana-changelog {
  width: 61.51%;
  top: -3.59px;
  font-size: var(--font-size-20xl);
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
}
.some-more-solana {
  width: 96.6%;
  top: 67.41px;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
}
.source-links-change-log-text {
  position: absolute;
  width: 46.49%;
  top: 0;
  right: 51.75%;
  left: 1.75%;
  height: 241px;
}
.image1 {
  width: 46.09%;
  top: 0.41px;
  right: 0;
  left: 53.91%;
  height: 303px;
}
.frame72,
.image-icon1,
.image1 {
  position: absolute;
  overflow: hidden;
}
.image-icon1 {
  width: 46.09%;
  top: 0.41px;
  right: 0;
  left: 53.91%;
  max-width: 100%;
  height: 303px;
  object-fit: cover;
}
.frame72 {
  width: 100.88%;
  top: 0;
  right: 1.75%;
  left: -2.63%;
  height: 429.41px;
}
.source-links-change-log {
  position: absolute;
  width: 103.64%;
  top: 304px;
  right: -1.82%;
  left: -1.82%;
  height: 309.72px;
  font-size: var(--font-size-mini);
}
.source-links-div,
.source-links-text {
  position: absolute;
  width: 96.49%;
  top: 197px;
  right: 1.75%;
  left: 1.75%;
  height: 613.72px;
}
.source-links-text {
  border: 0;
  font-family: var(--font-helvetica);
  font-size: var(--font-size-17xl);
  background-color: transparent;
  top: 0;
  height: 149px;
}
.source-links {
  position: absolute;
  width: 64.92%;
  top: -0.41px;
  right: 17.54%;
  left: 17.54%;
  height: 810.72px;
}
.secton-source-links {
  position: absolute;
  width: 100%;
  top: 2904.41px;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, #19161c, #000);
  height: 811px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.email,
.sign-up {
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  width: 61px;
}
.email {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
  color: var(--color-lightslategray);
  flex-shrink: 0;
}
.sign-up {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 30.78px);
  text-transform: uppercase;
  color: var(--color-black);
}
.frame73,
.mail-grab {
  border-radius: var(--br-781xl);
  box-sizing: border-box;
}
.frame73 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  position: relative;
  width: 103.56px;
  height: 46px;
  flex-shrink: 0;
}
.frame73:hover {
  background: linear-gradient(#fff, #fff), #20c983;
  cursor: pointer;
  animation: 0.4s ease-out s 1 normal none scale-up;
  opacity: 1;
}
.frame73:active {
  background-color: #37c98c;
}
.mail-grab {
  position: absolute;
  width: 75.49%;
  top: 247.31px;
  right: 12.16%;
  left: 12.35%;
  background-color: #0a0a0a;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 9px 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 216px;
}
.sign-up-to {
  margin: 0;
  position: absolute;
  width: 94.64%;
  top: 62.69px;
  left: 0;
  line-height: 27.3px;
  display: inline-block;
}
.solana-developer-update {
  margin: 0;
  position: absolute;
  top: -4.31px;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 37.8px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
}
.dev-update-text {
  position: absolute;
  width: 79.74%;
  top: 53.31px;
  right: 10.04%;
  left: 10.22%;
  height: 115px;
}
.dev-source-dev-update {
  position: absolute;
  width: 47.86%;
  top: 23.69px;
  right: 51.07%;
  left: 1.07%;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
  height: 357px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-silver);
  font-family: var(--font-helvetica);
}
.youtube1 {
  position: absolute;
  top: 12px;
  left: calc(50% - 49.69px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 67px;
}
.frame-icon18 {
  position: absolute;
  top: 13px;
  left: calc(50% + 25.31px);
  width: 26px;
  height: 19px;
  overflow: hidden;
}
.youtube {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 189.38px;
  height: 44px;
  flex-shrink: 0;
  color: inherit;
}
.podcast1 {
  position: absolute;
  top: 12px;
  left: calc(50% - 48.69px);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 67px;
}
.frame-icon19 {
  position: absolute;
  top: 10px;
  left: calc(50% + 26.31px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.podcast {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 189.38px;
  height: 44px;
  flex-shrink: 0;
  font-size: 14px;
  color: inherit;
}
.resource-link {
  position: absolute;
  width: 75.52%;
  top: 259.31px;
  right: 12.24%;
  left: 12.24%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.even-more-resources,
.more-videos-more {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.even-more-resources {
  width: 79.91%;
  top: -4.31px;
  font-size: inherit;
  line-height: 37.8px;
  font-weight: 400;
  font-family: inherit;
}
.more-videos-more {
  width: 94.63%;
  top: 62.69px;
  font-size: var(--font-size-lg);
  line-height: 27.3px;
  color: var(--color-silver);
}
.section-hero {
  position: absolute;
  width: 79.55%;
  top: 53.31px;
  right: 10.22%;
  left: 10.22%;
  height: 142px;
  text-align: left;
  font-size: 35px;
  font-family: var(--font-helvetica);
}
.dev-source-resource {
  position: absolute;
  width: 47.86%;
  top: 23.69px;
  right: 1.07%;
  left: 51.07%;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
  height: 357px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.section-dev-source {
  position: absolute;
  width: 64.01%;
  top: 3818.72px;
  right: 18%;
  left: 18%;
  height: 381px;
}
.main,
.rectangle10 {
  position: absolute;
  top: 231.59px;
  left: 0;
  width: 1732px;
  height: 4199.72px;
}
.rectangle10 {
  width: 100.81%;
  top: 0;
  right: -0.41%;
  left: -0.41%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 67px;
}
.icon {
  position: absolute;
  top: 2px;
  left: calc(50% + 23.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.build1 {
  top: -1px;
  left: calc(50% - 17.5px);
  font-size: var(--font-size-mid);
  line-height: 27.3px;
  display: inline-block;
  font-family: var(--font-helvetica);
  color: #e6e6e6;
  text-align: center;
  width: 43px;
}
.build,
.build1,
.icon1 {
  position: absolute;
}
.build {
  width: 20.34%;
  top: 0;
  right: 58.03%;
  left: 21.63%;
  height: 27px;
}
.icon1 {
  top: 2px;
  left: calc(50% + 49.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.community1 {
  text-decoration: none;
  position: absolute;
  top: -1px;
  left: calc(50% - 41.5px);
  font-size: var(--font-size-mid);
  line-height: 27.3px;
  font-family: var(--font-helvetica);
  color: var(--color-lightslategray);
  text-align: center;
  display: inline-block;
  width: 91px;
}
.community {
  position: absolute;
  width: 31.48%;
  top: 0;
  right: 0;
  left: 68.52%;
  height: 27px;
}
.icon2 {
  position: absolute;
  top: 2px;
  left: calc(50% + 26.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.learn1 {
  text-decoration: none;
  top: -1px;
  left: calc(50% - 18.5px);
  font-size: var(--font-size-mid);
  line-height: 27.3px;
  font-family: var(--font-helvetica);
  color: var(--color-lightslategray);
  text-align: center;
  display: inline-block;
  width: 45px;
}
.icon3,
.learn,
.learn1 {
  position: absolute;
}
.learn {
  width: 21.63%;
  top: 0;
  right: 78.37%;
  left: 0;
  height: 27px;
}
.icon3 {
  top: 2px;
  left: calc(50% + 38px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.network1 {
  text-decoration: none;
  position: absolute;
  top: -1px;
  left: calc(50% - 30px);
  font-size: var(--font-size-lg);
  line-height: 27.3px;
  font-family: var(--font-helvetica);
  color: var(--color-lightslategray);
  text-align: center;
  display: inline-block;
  width: 68px;
}
.network {
  position: absolute;
  width: 26.55%;
  top: 0;
  right: 31.48%;
  left: 41.97%;
  height: 27px;
}
.nav-links {
  width: 40.96%;
  top: calc(50% - 13.5px);
  right: 1.75%;
  left: 57.28%;
}
.image-1-icon,
.main-nav,
.nav-links {
  position: absolute;
  height: 27px;
}
.image-1-icon {
  top: 2px;
  left: 36px;
  width: 181.69px;
  object-fit: cover;
}
.main-nav {
  width: 66.36%;
  top: calc(50% - 13.5px);
  right: 16.82%;
  left: 16.82%;
}
.divnav,
.rectangle11 {
  position: absolute;
  width: 99.19%;
  top: 36px;
  right: 0.4%;
  left: 0.4%;
  height: 67px;
}
.rectangle11 {
  width: 69.28%;
  top: 0;
  right: 15.36%;
  left: 15.36%;
  height: 37px;
}
.breakpoint-2023- {
  position: absolute;
  top: 5px;
  left: calc(50% - 276px);
  line-height: 27.3px;
  text-transform: uppercase;
  display: inline-block;
  width: 553px;
}
.top-title {
  text-decoration: none;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(260.33deg, #0047ff, #00bcd4);
  height: 37px;
  color: inherit;
}
.company-logo-icon {
  position: absolute;
  top: 0.22px;
  left: calc(50% - 167px);
  width: 31px;
  height: 27px;
  overflow: hidden;
}
.a,
.solana-foundation-all {
  position: absolute;
  top: -0.42px;
  line-height: 27.3px;
  display: inline-block;
}
.a {
  text-decoration: none;
  width: 5.09%;
  left: 0;
  color: inherit;
}
.solana-foundation-all {
  margin: 0;
  width: 83.83%;
  left: 16.17%;
}
.a1,
.foot-text {
  position: absolute;
}
.a1 {
  text-decoration: none;
  width: 11.08%;
  top: -0.42px;
  left: 5.09%;
  line-height: 27.3px;
  color: inherit;
  display: inline-block;
}
.foot-text {
  width: 100%;
  top: 144.64px;
  right: 0;
  left: 0;
  height: 27px;
}
.frame-icon20 {
  top: 0;
  left: calc(50% - 8px);
  border-radius: var(--br-81xl);
  width: 16px;
  overflow: hidden;
}
.frame-icon20,
.frame-icon21,
.frame75 {
  position: absolute;
  height: 16px;
}
.frame75 {
  text-decoration: none;
  width: 12.62%;
  top: 4.58px;
  right: 87.38%;
  left: 0;
  background-color: var(--color-lightslategray);
}
.frame-icon21 {
  top: 0;
  left: calc(50% - 8px);
  width: 16px;
  overflow: hidden;
}
.frame76,
.frame77 {
  background-color: var(--color-lightslategray);
}
.frame76 {
  text-decoration: none;
  position: absolute;
  width: 12.62%;
  top: 4.58px;
  right: 52.43%;
  left: 34.95%;
  height: 16px;
}
.frame77 {
  right: 17.48%;
  left: 69.9%;
}
.frame77,
.frame78,
.frame79,
.frame80 {
  text-decoration: none;
  position: absolute;
  width: 12.62%;
  top: 4.58px;
  height: 16px;
}
.frame78 {
  right: 69.9%;
  left: 17.48%;
  background-color: var(--color-lightslategray);
}
.frame79,
.frame80 {
  right: 0;
  left: 87.38%;
  background: linear-gradient(#848895, #848895), #fff;
}
.frame80 {
  right: 34.95%;
  left: 52.43%;
  overflow: hidden;
}
.logo-flex {
  position: absolute;
  width: 61.68%;
  top: 94.64px;
  right: 38.32%;
  left: 0;
  height: 30px;
}
.managed-by-solana {
  margin: 0;
  position: absolute;
  width: 73.05%;
  top: 47.22px;
  left: 0;
  font-size: inherit;
  line-height: 27.3px;
  font-weight: 400;
  font-family: var(--font-roboto);
  color: var(--color-white);
  display: inline-block;
}
.list-logos {
  position: absolute;
  width: 30.36%;
  top: 0;
  right: 69.64%;
  left: 0;
  height: 221px;
}
.break-solana,
.careers,
.disclaimer,
.grants,
.media-kit {
  text-decoration: none;
  position: absolute;
  left: 0.49%;
  line-height: 27.3px;
  color: inherit;
  display: inline-block;
}
.grants {
  width: 51.61%;
  top: 5.22px;
  font-size: var(--font-size-mini);
}
.break-solana,
.careers,
.disclaimer,
.media-kit {
  width: 73.12%;
  top: 83.22px;
}
.break-solana,
.careers,
.disclaimer {
  width: 82.8%;
  top: 161.22px;
}
.break-solana,
.careers {
  width: 62.37%;
  top: 122.22px;
}
.break-solana {
  width: 100%;
  top: 44.22px;
  font-size: var(--font-size-mini);
}
.web-intrnal-links-list {
  position: absolute;
  width: 57.76%;
  top: 26px;
  right: 29.81%;
  left: 12.42%;
  height: 195px;
}
.solana {
  margin: 0;
  position: absolute;
  width: 40.37%;
  top: -0.78px;
  left: 12.7%;
  font-size: inherit;
  line-height: 18.72px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
}
.web-intrnal-links {
  position: absolute;
  width: 33.79%;
  top: 0;
  right: 66.21%;
  left: 0;
  height: 221px;
}
.blog,
.ecosystem,
.newsletter {
  text-decoration: none;
  position: absolute;
  width: 57.66%;
  top: 5.22px;
  left: 0.33%;
  line-height: 27.3px;
  color: inherit;
  display: inline-block;
}
.blog,
.newsletter {
  width: 58.39%;
  top: 83.22px;
}
.blog {
  width: 23.36%;
  top: 44.22px;
  font-size: var(--font-size-mini);
}
.frame81,
.get-connected1 {
  position: absolute;
  width: 66.83%;
}
.frame81 {
  top: 26px;
  right: 23.41%;
  left: 9.76%;
  height: 117px;
}
.get-connected1 {
  margin: 0;
  top: -0.78px;
  left: 9.98%;
  font-size: var(--font-size-mini);
  line-height: 18.72px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
}
.get-connected-links {
  position: absolute;
  width: 64.99%;
  top: 0;
  right: 35.01%;
  left: 0;
  height: 221px;
}
.frame-icon26 {
  position: absolute;
  top: 0;
  left: calc(50% - 35px);
  width: 19px;
  height: 20px;
  overflow: hidden;
}
.frame-icon27 {
  top: 2px;
  left: calc(50% + 14px);
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.en,
.frame-icon27,
.lang {
  position: absolute;
}
.en {
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 22px;
}
.lang {
  width: 22.19%;
  top: -0.78px;
  right: 6.34%;
  left: 71.47%;
  border-radius: 6px;
  height: 20px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.divfooter,
.frame74,
.get-connected,
.web-links {
  position: absolute;
  width: 66.21%;
  top: 0;
  right: 0;
  left: 33.79%;
  height: 221px;
}
.divfooter,
.frame74,
.web-links {
  width: 43.31%;
  right: -1.82%;
  left: 58.5%;
}
.divfooter,
.frame74 {
  width: 63.51%;
  top: 80.78px;
  right: 18.24%;
  left: 18.24%;
}
.divfooter {
  width: 100%;
  top: 4511px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: #000508;
  border: 1px solid #141414;
  box-sizing: border-box;
  height: 383px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
  font-family: var(--font-helvetica);
}
.land-page {
  position: relative;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 4894px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
